  /* Style for regular link text */
  a {
    text-decoration: none; /* Remove underline */
    color: #848484; /* Set default text color */
}

/* Style for link text on hover */
a:hover {
    color: rgb(252,212,6); /* Change text color on hover */
}

.footer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%; 
    height: 70px; 
    background-color: black;
}

.text{
    font-weight: 80;
    color: white;
}

.text:hover{
    color: #F8D413;
}

.t1{
    width: 16%; 
    display: flex; 
    align-items: center; 
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width:950px) {
    .tt{
        margin-left: 15%;
    }

    .t1{
        width: 60% 

    }
}