  /* Style for regular link text */
  a {
    text-decoration: none; /* Remove underline */
    color: #848484; /* Set default text color */
}

/* Style for link text on hover */
a:hover {
    color: rgb(252,212,6); /* Change text color on hover */
}
table {

}


@media (min-width:600px) {
    .tt{
        margin-left: 15%;
    }
}