<form class="main" [formGroup]="myForm">
    <div class="first-row">


        <div class="col1">
            <p class="label-name">Do you have any skills?*</p>
            <div>
                <div class="checkboxes1 d-flex flex-row justify-content-between flex-wrap ">
                  <div *ngFor="let item of items21">
                  <label class="checkbox-label">
                      <input formControlName="holdQualification" class="checkbox-third" type="checkbox"  [checked]="item.checked" (change)="handleCheckboxChange3(item)">
                      <span class="label-checkbox" id="labelText">{{item.label}}</span>
                    </label>
                  </div>
                </div>
              </div>

            <div style="margin-left: 8%;" *ngIf="isCheckFirstTime && isSomethingEmpty">
                <p class="text-danger">Do you have any skills is required.</p>
            </div>
        </div>

        <div  class="col2">
          <div  *ngIf="isListTypeOfQualification" >
            <input formControlName="listTypeOfQualification" placeholder="List type of qualification" type="text" class="common" (input)="onFieldChange('listTypeOfQualification', this.myForm.get('listTypeOfQualification')?.value)" />
            <div class=" mb-2" *ngIf="myForm.get('listTypeOfQualification')?.hasError('required')  && isSomethingEmpty && isListTypeOfQualification">
              <p class="text-danger">* List type of qualification required</p>
            </div>
          </div>

        </div>
    </div>

</form>
