<div class="main" id="contact">
    <div class="content">
        <p class="title">Contact us</p>
        <p class="info"><a style="text-underline: none" href="tel:+96103054308">+961 03 054 308</a></p>

        <p class="info"><a href="mailto:visa@hispeed-group.com">visa@hispeed-group.com</a></p>

        <p class="info">Nabatieh - South Lebanon</p>

        <p class="info">Mon - Sat 09:00 - 18:00</p>

    </div>

    <div id="back214"  class="back" (click)="scrollPageToTop()">
        <div class="white-line"></div>
        <p  class="back-to">BACK TO TOP</p>
    </div>

</div>

