<div style="background-color: rgb(92, 91, 91);">


    <app-nav [iconLightHome]="true"></app-nav>

    <div class="main">

        <div class="body">


            <div class="col1">
                <img class="img" src="./assets/about-img.png"/>
                <h1 class="h1">HiSpeed</h1>
                <p class="text-col1">Travel</p>
                <div class="email" ><a class="email_link" href="mailto:visa@hispeed-group.com">Email</a></div>
                <div class="icons mt-2">

                    <a href="https://instagram.com/hispeed_group?igshid=OGQ5ZDc2ODk2ZA==" target="_blank"><img class="icon" src="./assets/insta-icon.png"/></a>
                  <a href="https://www.facebook.com/HISPEED.TRAVEL" target="_blank"><img class="icon" src="./assets/facebook-icon.png"/></a>
                  <a href="https://www.linkedin.com/company/hispeed-group-llc/s" target="_blank"><img class="icon" src="./assets/linkedin-icon.png"/></a>

                </div>
            </div>

            <div class="col2">
                <div class="div_title">
                    <h1 class="about-us">ABOUT US</h1>
                </div>

                <p class="about-text">


                    Welcome to Hi Speed Travel! As a premier travel agency located in Lebanon, we're dedicated to making your travel experiences exceptional. With a global network of connections, we cater to a variety of services beyond tourism.

                    From facilitating seamless tourism visas to offering comprehensive student programs, our goal is to make your international ventures hassle-free. Our immigration programs provide a pathway to new beginnings, ensuring a smooth transition to your desired destination.

                    Additionally, we provide specialized HR services for companies in search of qualified employees. Our expertise in recruitment and placement ensures that businesses find the right talent to thrive and succeed.

                    At Hi Speed Travel, your journey is our priority. Let us assist you in achieving your travel, educational, and career aspirations with professionalism and care. Your satisfaction is our driving force, and we're excited to be part of your journey.
                                    </p>
            </div>
        </div>


    </div>

  <app-home-contact-footer></app-home-contact-footer>

    <app-footer></app-footer>

</div>

