<div class="main">

    <div class="card">

        <div class="row1">
            <p>First name*</p>
            <div class="row1-1">

                <input class="shared" type="text" name="username"  placeholder="Ali">
                <input class="shared" type="text" name="lastname" placeholder="Mrad">

            </div>
        </div>
        
        <div class="row2">
            <div class="row2-1">
                <p>Email address*</p>
                <input class="row2-1-shared" type="email" name="emai"  placeholder="hello@example.com">

            </div>

            <div class="row2-1">
                <p>Service type*</p>

                <select class="row2-1-shared" type="" name="lastname" >
                    <option value="" selected disabled>Select one</option>
                </select>

            </div>



        </div>

        <div class="row3">
            <p>Messages*</p>
            <input class="message" type="text" name="message" placeholder="Type your message here">
        </div>

        <button class="button">Submit</button>
    </div>

</div>