  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  .image-container {
    position: relative;
    border-radius: 32px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 340px;
    height: 380px;
    margin-right: 10px;
    margin-top: 10%;
    border-radius: 50px;
    border: 1px solid white;
    margin-bottom: 10%;
  }

  .image-container img {
    display: block;
    width: 100%;
    height: auto;
    height: 100%;
  }

  .text-container {

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: #fff;
    border-radius: 32px;
    padding: 20px; /* Optional: Add padding as desired */
    box-sizing: border-box; /* Optional: Include padding in element's total size */
  }

  .title {

    white-space: pre-line;
    width: 70%;
    margin-top: 5%;
    color: white;
    font-size: 32px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .line {
    margin-top: -14px;
    width: 70px;
    height: 2px;
    border-radius: 16px;
    background: white;
  }

  .description {
    color: white;

    text-align: start;
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5%;
  }
  .button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 12%;
    margin-bottom: 11%;
    align-items: center;
  }
  .button {
    text-align: center;
    border: none;
    color: #fff;
    cursor: pointer;

    background: transparent;
        width: 50%;
        height: 100%;
    color: #FFF;
    font-size: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: 1px solid white;
    border-radius: 10px;

  }

  .button:hover{
    background-color: black;
  }

  @media (max-width:1200px) {
    .image-container{
        margin-bottom: 10%;

    }
}


@media (max-width:500px) {
    .image-container{
      width: 330px;
      height: 370px;
        margin-bottom: 7%;
        margin-right: 0px;
    }
    .title{
        margin-top: 10%;
    }
    .button{
        width: 70%;
        margin-bottom: 8%;
    }

    .title{
      margin-top: 5%;
    }

    .text-container{
      justify-content: space-between;
      height: 100%;
      padding: 12px;
    }
    .description {

      margin-bottom: 10%;
    }

    .title {

  font-size: 25px;

    }

}



@media (max-width:380px) {
  .image-container {
    width: 300px;
    height: 320px;

  }
}

  @media (max-width:365px) {
    .image-container{
      width: 280px;
      height: 320px;

    }
}

