
<form class="main" [formGroup]="myForm">
    <p style="margin-left: 3%; margin-bottom: 3%">
        <strong>Note:</strong> Both phone number and email are required.</p>

    <div class="flex-container">


        <div class="flex-item">
            <div class="d-flex flex-column ee">
                <input formControlName="email" class="input" type="email" placeholder="Email" (input)="onFieldChange('email', myForm.get('email')?.value)">
              <div class=" mb-2" *ngIf="myForm.get('email')?.hasError('required')  && isSomethingEmpty">
                <p class="text-danger">* Email required.</p>
              </div>
                <div class=" mb-2" *ngIf="myForm.get('email')?.hasError('email')">
                    <p class="text-danger">* Email Not Valid.</p>
                  </div>
            </div>

        </div>
        <div class="flex-item s">
        
            <div class="d-flex flex-column ee">
             
              <div style="width: 100%;" class="d-flex justify-content-between">
                <div class="dropdown">
                  <input type="text" class="form-select" formControlName="phoneCode" id="phone" name="phone" placeholder="Prefix code" (input)="onInputChange($event)" (focus)="showDropdown()" (blur)="hideDropdown()">
                  <ul *ngIf="showDropdownFlag">
                    <li *ngFor="let option of filteredOptions" (click)="selectOption(option)">
                      {{ option.label }}
                    </li>
                  </ul>
                </div>
                
                
                
                
                
                <input  formControlName="phoneNumber" class="input1" type="tel"
                placeholder="Phone Number" (input)="onFieldChange('phoneNumber', myForm.get('phoneNumber')?.value)" >
          
              </div>
                <div class=" mb-2" *ngIf="myForm.get('phoneNumber')?.hasError('required') && isSomethingEmpty">
                <p class="text-danger">* Phone number required.</p>
              </div>

              <div class=" mb-2" *ngIf="myForm.get('phoneCode')?.hasError('required') 
              && myForm.get('phoneNumber')?.value !== '' &&
              !myForm.get('phoneNumber')?.hasError('minlength')">
                <p class="text-danger">* Phone number code required.</p>
              </div>

                <div class=" mb-2" *ngIf="myForm.get('phoneNumber')?.hasError('minlength') ">
                    <p class="text-danger">* Phone number is too short..</p>
                  </div>
            </div>
        </div>

    </div>

</form>
