

<nav  class="navbar navbar-expand-lg navbar-light" [ngClass]="{'navbar-scrolled': isNavbarScrolled, 'scrolling': isScrolling}" >
  <div class="container-fluid ">
    
    <button class="navbar-toggler buttonTog border-0" type="button" data-bs-toggle="collapse" 
              data-bs-target="#navbarScroll" (click)="toggleNavSidebar()">
      <span class="navbar-toggler-icon" [ngClass]="{'c': isIconLight && isScrolling}"></span>
    </button>
    
    <a class="navbar-brand" href="https://hispeed-group.com/">
      <img class="img-responsive navbar-logo" [src]="imageSource" [ngClass]="{'image-spacing': isScrolling}" />
    </a>

    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll d-none d-lg-flex">
        <li class="nav-item" >
          <a  class="nav-link fw-bolder" href="http://localhost:4200/#/home" [ngClass]="{'iconLightHome': navItemsHome, 'iconSelected':navItemsHome &&  whichNavItems === 'Home'}" >Home</a>
        </li>

        <li class="nav-item" >
          <a style="color: #9c9a9a;" class="nav-link fw-bolder" routerLink="/" [ngClass]="{'iconLightHome': navItemsHome && whichNavItems !== 'Services', 'iconSelected': whichNavItems == 'Services'}">Services</a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-bolder" href="https://hispeed-group.com/about-us-3/" [ngClass]="{'iconLightHome': navItemsHome && whichNavItems !== 'About Us', 'iconSelected' : whichNavItems == 'About Us'}">About</a>
        </li>
      
      </ul>
    </div>

    
    <div class="nav-sidebar" [ngClass]="{'active': isNavSidebarOpen}">
      <ul style="width: 100%;" class="navbar-nav flex-column d-lg-none">
        <li class="nav-item nav-item-with-divider" [ngClass]="{'nav-item-spacing-desktop': isIconLight}">
          <a class="nav-link fw-bolder text-left" href="https://hispeed-group.com/" (click)="setNavItemColorAndClose(isIconLight)">Home</a>
        </li>
        
        <li class="nav-item nav-item-with-divider" [ngClass]="{'nav-item-spacing-desktop': isIconLight}">
          <a style="color: #FCD406;" class="nav-link fw-bolder text-left" routerLink="/" (click)="setNavItemColorAndClose(isIconLight)">Services</a>
        </li>
        
        <li class="nav-item nav-item-with-divider " [ngClass]="{'nav-item-spacing-desktop': isIconLight}">
          <a  class="nav-link fw-bolder text-left last-item"  href="https://hispeed-group.com/about-us-3/" (click)="setNavItemColorAndClose(isIconLight)">About</a>
        </li>
      </ul>

      <div *ngIf="isNavSidebarOpen" class="div-contactius">
        <button class="contactus">Contact Us</button>
  
      </div> 
    </div>
    
    <div  class="div-contactius">
      <button class="contactus">Contact Us</button>

    </div> 

  </div>
</nav>


