<header class="box-header">
  <div class="box-logo">
      <a href="index.html"><img src="./assets/icon-general-white.webp" width="80" alt="Logo" style="margin-left: 3%;margin-top: 0.8%;"></a>
      <ul class="nav-options-list">
        <li>Home</li>
        <li>Services</li>
        <li>About</li>
        <li>Contact Us</li>
      </ul>
  </div>

 
  <!-- box-nav -->
  <a class="box-primary-nav-trigger" href="#0">
      <span class="box-menu-icon"></span>
  </a>


  <!-- box-primary-nav-trigger -->
</header>
<!-- end box header -->

<!-- nav -->
<nav>
  <ul class="box-primary-nav">
      <!-- <li class="box-label">About me</li> -->

      <li><a href="indexx.html">Home</a> <i class="ion-ios-circle-filled color"></i></li>
      <li><a href="aboutx.html">Services</a></li>
      <li><a href="servicesx.html">About</a></li>
      <li><a href="portfoliox.html">Contact us</a></li>


      <li class="box-label">Follow us</li>

      <li class="box-social"><a href="#0"><i class="ion-social-facebook"></i></a></li>
      <li class="box-social"><a href="#0"><i class="ion-social-instagram-outline"></i></a></li>
      <li class="box-social"><a href="#0"><i class="ion-social-twitter"></i></a></li>
      <li class="box-social"><a href="#0"><i class="ion-social-dribbble"></i></a></li>
  </ul>
</nav>



    <!-- back to top -->
    <a href="#0" class="cd-top"><i class="ion-android-arrow-up"></i></a>
    <!-- end back to top -->