<div class="container">

  <div class="container1" *ngIf="link_image == null">
    <img  src="./assets/🦆 icon _profile circle_.png"/>

  </div>

  <div class="circular-image-container"  *ngIf="link_image !== null">
    <img  [src]="link_image"/>

</div>

    <div class="container2">

        <div class="firstrow">
            <div class="d-flex ">
                <label><strong>Name:&nbsp;</strong></label>
                <p>{{name}}</p>
            </div>
            <div class="d-flex">
                <label><strong>Age:&nbsp;</strong></label>
                <p>{{age}}</p>
            </div>

        


            <div class="d-flex">
                <label><strong>Location:&nbsp;</strong></label>
                <p>{{location}}</p>
            </div>
        </div>

        <div class="secondrow">

          <div class="d-flex">
            <label><strong>Years Of Experience:&nbsp;</strong></label>
            <p>{{year_of_experience}}</p>
          </div>


          <div class="d-flex" *ngIf="isHRpage">
            <label><strong>Profession:&nbsp;</strong></label>
            <p>{{profession}}</p>
          </div>

          <div class="d-flex" >
            <label><strong>Education:&nbsp;</strong></label>
            <p>{{education}}</p>
          </div>

        </div>

      <div class="secondrow">


        <div class="d-flex"  *ngIf="isHRpage">
          <label><strong>Nationality:&nbsp;</strong></label>
          <p>{{passport_country}}</p>
        </div>

        <div class="d-flex" *ngIf="isHRpage">
          <label><strong>Gender:&nbsp;</strong></label>
          <p>{{gender}}</p>
        </div>

        <div class="d-flex">
          <a href="mailto:HR@hispeed-group.com?subject=Contact Request&body=Name: {{name}}%0D%0AAge: {{age}}%0D%0AGender: {{gender}}%0D%0ALocation: {{location}}">Contact Us</a>

        </div>


      </div>
    </div>
</div>
