<div class="container">
    <div class="container1">
        <img  src="./assets/🦆 icon _profile circle_.png"/>
    </div>

    <div class="container2">
        <div class="firstrow">
            <div class="d-flex ">
                <label>Name:</label> 
                <p>{{name}}</p>
            </div>
            <div class="d-flex">
                <label>Age:</label> 
                <p>{{age}}</p>
            </div>

            <div class="d-flex">
                <label>Location:</label> 
                <p>{{location}}</p>
            </div>
        </div>

        <div class="secondrow">
            
            <div class="d-flex">
                <a [href]="contactlink">Contact Us</a>
            </div>

            <div class="d-flex">
                <a [href]="resumelink" target="_blank">Resume</a>
            </div>
        </div>
    </div>
</div>