<app-nav></app-nav>

<div class="backdiv">
    <button class="back-button" (click)="goBack()">
        <i class="fa fa-arrow-left"></i> Back
      </button>
</div>

  
<div class="aftersearch" >


    <div style="margin-top: 10%;" >
    
    </div>
    <div id="searchResults"  *ngIf="!isEmpty">
        <app-aftersearchitem  *ngFor="let af of Items" 
        [name]="af.full_name" 
        [age]="af.age" 
        [location]="af.current_residence" 
        [contactlink]="af.contactlink"
        [resumelink]="af.link_cv"
        [isEmpty]="isEmpty"
        >
    
        </app-aftersearchitem>
    </div>
    
    <div *ngIf="isEmpty">
    
        <p class="no-data-message">{{message}}</p>
    </div>
    
    
    <div style="margin-bottom: 10%;" >
    
    
    
    </div>