<!-- <body>
    <div class="container">

  

    <div class="img">
          <img src="../../../assets/group.PNG"/>
      </div>

      <div class="container">
            <input placeholder="Full Name" class="input1" type="text">

            <input  placeholder="Date of Birth" class="input2" type="text">

   
      </div>

      <div>
        <button class="button1">
           Passport Country
        </button>

        <select  class="select1" id=""></select>
        <span class="select-icon"><img src="../assets/polygon_1.PNG"/></span> 

      </div>

      <div>
        <button class="button2">
           Current Residence
        </button>

        <select  class="select2" id=""></select>
        <span class="select-icon1"><img src="../assets/polygon_1.PNG"/></span> 

      </div>

      <div class="line"></div>

      <button class="button3">
      </button>

    <div>   
            <button class="button3">
                 Visa status in current country
            </button>
          </div>



      <div class="checkboxes d-flex flex-row justify-content-between flex-wrap ">
        <div *ngFor="let item of items">
        <label class="checkbox-label">
            <input type="checkbox" onchange="handleCheckboxChange(this)">
            <span id="labelText">{{item}}</span>
          </label>
        </div>
      </div>

      <div>
        <input placeholder="Explain" type="text" class="input3"/>
      </div>
     
    </div>
      
    <div class="line1"></div>




</body> -->


<div class="flex-container">

  <div class="img">
    <img src="../../../assets/group.PNG"/>
  </div>


  <div class="flex-container2">

          <div class=" flex-item-left">
            <div class="d-flex flex-column">
              <input placeholder="Full Name" class="input1" type="text">
              <div class="d-flex flex-row">
              <div class=" c11">
                <div class="flex-container3 ">
                  <div class="c1">
                    <button class="button1">
                      Passport Country
                  </button>
                  </div>
                    
                    <div class=" c1">
                      <select  class="select1" id="">
      
                      </select>
                      <span class="select-icon"><img src="../assets/polygon_1.PNG"/></span> 
                    </div>
                    
                </div>
              </div>

              <div class=" c112">

              </div>
            </div>
            </div>
          </div>

          <div class="flex-item-right">
            <div class="d-flex flex-column">
              <input  placeholder="Date of Birth" class="input2" type="text">
              <div class=" flex-container4">
                <div class=" c2">

                  <button class="button2">
                    Current Residence
                  </button>
                </div>

                  <div class= "c2">
                    <select class="select2" id="">
                
                    </select>
                    <span class="select-icon"><img src="../assets/polygon_1.PNG"/></span>
                  </div>
                  
              </div>
            </div>
          </div>

          
  </div>


  <div class="line"></div>


     <div class="  d-flex flex-column">

        <div class=" container4">   
          <button class="button3">
              Visa status in current country
          </button>
        </div>



        <div class=" d-flex flex-row flex-wrap mt-3 align-items-center">

          <div class=" check1">
            <div class="checkboxes d-flex flex-row justify-content-between flex-wrap ">
              <div *ngFor="let item of items">
              <label class="checkbox-label">
                  <input type="checkbox" onchange="handleCheckboxChange(this)">
                  <span id="labelText">{{item}}</span>
                </label>
              </div>
            </div>
          </div>
            

            <div class="check2">

            </div>
        </div>

        <div class="container5">
          <input placeholder="Explain" type="text" class="input3"/>
        </div>
      
  </div>

  <div class="line"></div>


  <div class="d-flex flex-column">
    <div class=" container4">   
      <button class="button3">
        Do you hold a qualification?
      </button>
    </div>

    <div>
      <div class="checkboxes1 d-flex flex-row justify-content-between flex-wrap ">
        <div *ngFor="let item of items2">
        <label class="checkbox-label">
            <input type="checkbox" onchange="handleCheckboxChange(this)">
            <span id="labelText">{{item}}</span>
          </label>
        </div>
      </div>
    </div>

    <div class="container5">
      <input placeholder="Yes : List type of qualification" type="text" class="input3"/>
    </div>

    
  </div>
    

  <div class="line1"></div>

  <div class="d-flex flex-column mb-5">
        <div class=" container4">   
          <button class="button4">
            What is your English proficiency?
          </button>
        </div>

        <div>
          <div class="checkboxes d-flex flex-row justify-content-between flex-wrap ">
            <div *ngFor="let item of items3">
            <label class="checkbox-label">
                <input type="checkbox" onchange="handleCheckboxChange(this)">
                <span id="labelText">{{item}}</span>
              </label>
            </div>
          </div>
        </div>
  </div>

  <div class="line"></div>


  <div class="d-flex flex-column">
    <div class=" container4">   
      <button class="button5">
        Have you completed a English test in the last 3 years?
      </button>
    </div>

    <div>
      <div class="checkboxes1 d-flex flex-row justify-content-between flex-wrap ">
        <div *ngFor="let item of items2">
        <label class="checkbox-label">
            <input type="checkbox" onchange="handleCheckboxChange(this)">
            <span id="labelText">{{item}}</span>
          </label>
        </div>
      </div>
    </div>
</div>


<div class="d-flex flex-column">
  <div class=" container4">   
    <button class="button6">
      Do you have an current offer of employment to work in Australia?
    </button>
  </div>

  <div>
    <div class="checkboxes1 d-flex flex-row justify-content-between flex-wrap ">
      <div *ngFor="let item of items2">
      <label class="checkbox-label">
          <input type="checkbox" onchange="handleCheckboxChange(this)">
          <span id="labelText">{{item}}</span>
        </label>
      </div>
    </div>
  </div>
</div>
<div class="mb-4"></div>
</div>
