.main{
    display: flex;
    flex-direction: column;
    width: 100%;

background-color: rgb(92, 91, 91); /* Background color for browsers that don't support gradients */

background-color: rgb(92, 91, 91); /* Background color for browsers that don't support gradients */

background-color: rgb(92, 91, 91); /* Background color for browsers that don't support gradients */
    align-items: center;
    /* background: linear-gradient(to bottom, rgb(211, 211, 211), rgb(92, 91, 91)); */

}

.div_title{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 3.4vw;
    font-weight: 200;
    color: #F8D413;
}

.underline_title{
    margin-top: 0.5vw;
    height: 1px;
    width: 15vw;
}

.description{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 5%;
}

.desc{
    text-align: center;
    width: 30%;
    line-height: 1.3vw;
    font-size: 1.5vw;
    color: #929292;
    font-weight: 200;
    font-style: normal;
}

.services {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 13%;
    padding-right: 13%;
    flex-shrink: 0;
    align-items: stretch;
    margin-bottom: 20%;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.main-second{

        width: 40%;
        height: 250px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        margin-bottom: 3%;

}

.main-second:hover{
    background-color: black;
    border-radius: 15px;
    cursor: pointer;
    padding: 3% 1% 2% 1%;
    text-align: center;
    height: 270px;
}


@media (max-width:700px) {
    .title{
        font-size: 6vw;

    }


    .underline_title{
        margin-top: -1vw;
        width: 23vw;
    }

    .desc{
        width: 70%;
        line-height: 3vw;
        font-size: 3vw;
        color: #929292;
        font-weight: 200;
        font-style: normal;
    }

}
@media (max-width:576px) {

    .main-second{
        width: 100%;
    }

}
