.container1{
    display: flex;
    background: rgba(0, 0, 0, 0.22);

    height: 100%;
    width: 100%;

    position: absolute;
    flex-direction: column;
    justify-content: space-between;
}


.container1-aftersearch{
    display: flex;
    background: rgba(0, 0, 0, 0.22);

    height: max-content;
    width: 100%;
    flex-direction: column;
}



.bgimg{
    position: absolute;

        width: 100%;
        height: 100%;

}

.bgicon{
    position: absolute;
left: 8.83%;
right: 81.35%;
top: 7.83%;
bottom: 86.91%;

}


