<div [ngClass]="{'container1-aftersearch':hideBack === false,'container1': hideBack}">
    <img *ngIf="hideBack" class="bgimg" src="/assets/bgflight.jpg" />

    <img  *ngIf="hideBack" class="bgicon" src="/assets/group.PNG"/>

    <app-searchflight-box 
        (flightsEvent)="flightsFun($event)"
        (isLoadingEvent)="isLoadingFlightsFun($event)" 
        (newItemEvent)="hideBackFun($event)">

    </app-searchflight-box>
    <!-- class="width=100%; height=100%"  -->

    <app-shimmer *ngIf="isLoadingFlights && (hideBack === false)"></app-shimmer>


    <flights [flights]="flights" *ngIf="!isLoadingFlights"></flights>
</div>


    