

<!-- <div class="main"> -->



    <!-- top -->
    <!-- <div class="row1"> -->
        <section class="box-intro">
            <div class="table-cell">
                <h1 class="box-headline letters rotate-2">
                    <span class="box-words-wrapper ">
                        <b class="is-visible" >immigration.</b>
                        <b>tourism.</b>
                        <b>student.</b>
                    </span>
                </h1>
                <h5>Everything you need for your global journey</h5>
            </div>
        
            <div class="mouse">
                <div class="scroll"></div>
            </div>
        </section>

    <!-- </div> -->


    <!-- middle -->
<!--    <div class="row2">-->

<!--        <p class="second_paragra">Discover Exceptional Experiences and Unforgettable Adventures with Us. Your Gateway to Extraordinary Journeys.</p>-->
<!--    </div>-->

    <div class="row3" (click)="scrollToY()">

        <img src="./assets/arrow-down-home.png" class="arrow">

    </div>

<!-- </div> -->


