<div class="main">
    <!-- top -->
    <div class="row1">
        <img class="img-left" height="38px" width="38px" src="./assets/left-slider-button.png"/>
        <img  src="./assets/bigger-text.png"/>
        <img class="img-right" height="38px" width="38px" src="./assets/right-slider-button.png"/>
    </div>

    <!-- middle -->
    <div class="row2">
      
        <p class="second_paragra">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <!-- befor bottom -->
    <div class="row3">
        
        <button class="find_tour">
            FIND TOUR
        </button>

    </div>

    <!-- bottom -->
    <div class="row4">
        <img src="./assets/bottom-slider.png"/>
    </div>
</div>