
<app-nav></app-nav>


<div class="modal" id="staticBackdrop" tabindex="-1" [ngClass]="{'show': isShowModal}" role="dialog">
          <app-modal-popup [isResponseReceived]="isResponseReceived"
                          title="Immigration Form Sent"
                          [response]="response"
          ></app-modal-popup>
</div>

<div class="main">





    <app-firstrow [formFields]="form_row1"
                   [isSomethingEmpty]="isSomethingEmpty"
                   (firstRowData)="onFirstRowChanged($event)"
                   >
    </app-firstrow>

    <app-five-row
      [formFields]="form_row5"
      [isSomethingEmpty]="isSomethingEmpty"
      (RowFiveData)="onRowFiveChanged($event)"
      (isEVSOpend)="onEvsOpened($event)"

      >
    </app-five-row>

    <app-six-row
      [formFields]="form_row6"
      [isSomethingEmpty]="isSomethingEmpty"
      (sixRowData)="onRowSixChanged($event)"
      (isHoldQualificationOpend)="onHoldQualificationChanged($event)"
      >
    </app-six-row>

    <app-second-row
            [formFields]="form_row2"
            [isSomethingEmpty]="isSomethingEmpty"
            (secondRowData)="onSecondRowChanged($event)"
            (cv_file)="onCvFileUploaded($event)"
            (isOtherSelected)="onOtherProfessionSelected($event)"
    ></app-second-row>


    <app-third-row
        [formFields]="form_row3"
        [isSomethingEmpty]="isSomethingEmpty"
        (thirdRowData)="onThirdRowChanged($event)"
        [isCheckFirstTime]="isChekedFirstTime"
    ></app-third-row>

    <app-forth-row
        [formFields]="form_row4"
        [isSomethingEmpty]="isSomethingEmpty"
        (fourthRowData)="onFourRowChanged($event)"
        [isShowScholar]="true"
        [isCheckFirstTime]="isChekedFirstTime"
        [checkBoxTextDesc]="checkBoxTextDesc"
        [checkBoxTextError]="checkBoxTextError"
        [countries]="desiredCountries"
    ></app-forth-row>

    <app-form-data-shared
      [isSomethingEmpty]="isSomethingEmpty"
      (emailphoneData)="onEmailPhoneRowChanged($event)"
      [formFields]="emailPhone"
      (formValidityChanged)="onFormValidityChanged($event)"

    ></app-form-data-shared>


    <app-show-error *ngIf="isSomethingEmpty"></app-show-error>

    <div style="text-align: center; padding-bottom: 5%;">
        <button (click)="submit()" class="submit">
            Submit
         </button>
    </div>

</div>

<app-home-contact-footer></app-home-contact-footer>

<app-footer></app-footer>
