.main{
  height: 200%;
  overflow-x: hidden;
}

.submit{
  color: white;
  font-weight: 400;
  margin-top: -6px;
  border-radius: 30px;
  border: 1px solid #000000;
  height: 45px;
  background-color: #000000;
  font-size: large;
  text-align: center;
  width: 300px;
}


.submit:hover{
  background-color: black;
  border: 1px solid black;
}

.modal {
  display: none;
}
.modal.show {
  display: block;
}


@media (max-width:567px) {
  .submit{
    width: 80%;
  }
}


@keyframes ellipsis {
  0% {
    content: ".";
    animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
  }
  33% {
    content: "..";
    animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
  }
  66% {
    content: "...";
    animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
  }
  100% {
    content: ".";
    animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
  }
}

.ellipsis-animation::after {
  content: "...";
  display: inline-block;
  width: 1ch;
  animation: ellipsis 1.5s infinite;
}
