.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  
    margin-top: 3.71%;
    margin-left: 8.83%;
    margin-right: 9.26%;
  }
  
  .flex-container2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3.19%;
    justify-content: space-between;
    max-height: max-content;
    margin-bottom: 4%;
  }
  
  .flex-item-left {
    width: 59%;
  }
  
  .flex-item-right {
    width: 39%;
  }
  
  
  
  .input1 {
    border-color: #FFFFFF;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding-left: 2%;
    border: none 16px;
    height: 62px;
  }
  
  .input2 {
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    border: none 16px;
    border-color: #FFFFFF;
    padding-left: 2%;
    height: 62px;
  }
  
  .flex-container3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2.31%;
    justify-content: space-between;
  }
  
  .flex-container4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2.31%;
    justify-content: space-between;
  }
  
  .button1 {
    border: none 16px;
    background: #FCD406;
    border-radius: 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    color: #000000;
    height: 62px;
    width: 100%;
  
  }
  
  .select1 {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    border: none 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 30px;
    height: 62px;
    width: 100%;
  
  }
  
  .c1{
    flex-basis: 49%;
    position: relative;
    display: inline-block;
  }
  
  .button2 {
    border: none 16px;
    background: #FCD406;
    border-radius: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: #000000;
    height: 62px;
    width: 100%;
  }
  
  
  
  .select2 {
    border: none 16px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 30px;
    height: 62px;
    width: 100%;
  
  }
  
  .select-icon1{
    position: absolute;
    z-index: 10;
  }
  
  
  .c2{
    flex-basis: 49%;
    position: relative;
    display: inline-block;
  }
  
  
  
  .select-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  
  .c11{
    flex-basis: 70%;
  }
  
  .c112{
    flex-basis: 30%;
  }
  
  
  .line {
    height: 8px;
    background: #FCD406;
    border-radius: 4px;
  }
  
  .line1 {
    height: 8px;
    background: #FCD406;
    border-radius: 4px;
    margin-top: 6%;
  }
  
  
  .button3 {
   
    background: #FCD406;
    border-radius: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: #000000;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    border: none 16px;
    height: 62px;
    width: 30%;
  }
  
  .container4{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
  }
  
  .check1{
  
    flex-basis: 65%;
  
  }
  
  .check2{
    flex-basis: 45%;
  }
  
  
  .checkboxes {
  
    width: 70%;
  }
  
  .checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .checkbox-label input[type="checkbox"] {
    width: 2rem; /* Set the maximum width for each item */
    height: 2rem; /* Set the desired height for each item */
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    background: none;
    box-shadow: none;
  }
  
  .checkbox-label input[type="checkbox"]::before {
    content: "\2714"; /* Use checkmark symbol unicode */
    display: inline-block;
    width: 100%; /* Set the width to 100% */
    height: 100%; /* Set the height to 100% */
    text-align: center;
    line-height: 1; /* Adjust the line height if needed */
    color: transparent; /* Make the checkmark symbol transparent */
    border: 2px solid #CCCCCC; /* Add a border color for the checkbox icon */
    border-radius: 2px; /* Adjust the border-radius to match the icon shape */
    margin-right: 0.5rem;
  }
  
  .checkbox-label input[type="checkbox"]:checked::before {
    content: "\2714"; /* Use checkmark symbol unicode */
    display: inline-block;
    width: 100%; /* Set the width to 100% */
    height: 100%; /* Set the height to 100% */
    text-align: center;
    line-height: 1; /* Adjust the line height if needed */
    color: yellow; /* Change to your desired color */
    border: none;
    border-radius: 2px; /* Adjust the border-radius to match the icon shape */
    margin-right: 0.5rem;
  }
  
  
 
  .checkbox-label span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: #292D32;
    border: none 16px;
    margin-top: 11px;
  }
  
  .container5{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    flex-wrap: wrap;
  
    margin-bottom: 3%;
  }
  
  .input3 {
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    border: none 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    padding-left: 2%;
    color: #939598; 
    height: 62px;
    width: 100%;
    padding-left: 2%;
  }
  
  .checkboxes1 {
    margin-top: 1%;
    width: 15%;
  }
  
  .button4 {
   
    background: #FCD406;
    border-radius: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: #000000;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    border: none 16px;
    height: 62px;
    width: 35%;
  }
  
  
  .button5 {
   
    background: #FCD406;
    border-radius: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: #000000;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    border: none 16px;
    height: 62px;
    width: 50%;
  }
  
  .button6 {
   
    background: #FCD406;
    border-radius: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: #000000;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    border: none 16px;
    height: 62px;
    width: 75%;
  }

  .button7 {
   
    background: #FCD406;
    border-radius: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: #000000;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    border: none 16px;
    height: 62px;
    width: 20%;
  }

  .button7:hover {
    background: #E3B900; /* Dark yellow color for hover effect */
  }


  .modal {
    display: none;
  } 
  
  .modal.show {
    display: block;
  }
  
  
  .modal-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  
  .progress {
    width: 200px;
    height: 10px;
  }
  
  .progress-bar {
    animation-duration: 2s; /* Adjust the animation duration as needed */
  }
  
  .bg-custom {
    background-color: #fcd406 !important;
  }
  
  .buttonCloseModal{
    background-color: #FCD406; 
    border: 16px none;
      font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
  }
  @media (max-width: 800px) {
    .flex-item-right, .flex-item-left  {
      flex: 100%;
      margin-top: 4%;
    }
  
    .c11{
      flex-basis: 100%;
    }
    
    .c112{
      flex-basis: 0%;
    
    }
  
    .line{
      margin-top: 8%;
      margin-bottom: 1%;
    }
  
    .container4{
      margin-top: 8%;
      flex: 100%;
    }
  
    .button3   {
      width: 100%;
    }
  
    .button4{
      width: 100%;
    }
  
    .button5{
      width: 100%;
    }
  
    .button6{
      width: 100%;
    }
  
    .button7{
        width: 100%;
    }

    .check1{
  
      flex-basis: 100%;
    
    }
    
    .check2{
      flex-basis: 0%;
    }
  }
  