<div class="primary">
    <div class="box1">
        <p class="yellow-underline">{{type}}</p>
    </div>

    <div class="box2">
      <div class="custom-select">
        <span class="icon"><img [src]="icon"/></span>
        <select (blur)="close()" (click)="toggleSelect()" class="select2" [(ngModel)]="itemSelected" (change)="selectItem()">
          <option value="" disabled selected>Select a {{type}}</option>
          <option *ngFor="let item of items" [value]="item">{{ item }}</option>
        </select>

        <span class="custom-arrow" [ngClass]="{'bounceIcon':isSelectOpen}" ><i  class="bi bi-chevron-down "></i></span>
      </div>


    </div>

    <div class=" mb-2" *ngIf="isNothingSelected">
        <p class="text-danger">* {{type}} required</p>
    </div>
</div>
