<div class="nav-container">
    <app-nav [iconLightHome]="iconHomeLight" [navItemsHome]="isNavItemsLight" [whichNavItems]="whichNavItem"></app-nav>
</div>
<div class="image-container">
    <img src="./assets/Rectangle.png" class="background-image" />
    <svg width="1371" height="824" viewBox="0 0 1371 824" fill="none" xmlns="http://www.w3.org/2000/svg" class="overlay-svg">
      <path opacity="0.61" d="M1370.93 0.804932H0.380005V823.775H1370.93V0.804932Z" fill="black"/>
    </svg>

    <div class="slider">
      <app-slider></app-slider>

    </div>

  </div>
  
<app-services-home></app-services-home>