<div class="nav-container">
    <app-nav [iconLightHome]="iconHomeLight" [navItemsHome]="isNavItemsLight" [whichNavItems]="whichNavItem"></app-nav>
</div>
<div class="image-container">
    <img src="./assets/photo-home-page.png" class="background-image" />
  

    <div class="slider">
      <app-slider></app-slider>

    </div>

  </div>
  
<app-services-home></app-services-home>

<app-whoweare></app-whoweare>

<app-spcial-package></app-spcial-package>

<app-wemake-tour></app-wemake-tour>

<app-testimonials></app-testimonials>

<app-home-form></app-home-form>

<app-home-contact-footer></app-home-contact-footer>

<app-footer></app-footer>