html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }


.aftersearch {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    flex-shrink: 0;

    padding-top: 3%;
    padding-left: 8%;
    padding-right: 8%;

    height: 100%;

    align-items: stretch;

}